<% content_for :page_title do %><h2>Challenge to Battle</h2><% end %>

<div class="box full">
	
<table class="comparison-table">
<tbody>
  <tr>
	<th class="leftbox"><%= @challenge.attacker.name %></th>
	<td>challenges</td>
	<th class="rightbox"><%= @challenge.defender.name %></th>
  </tr>
</tbody>
</table>

<% form_for @challenge, :url => facebook_nested_url(new_facebook_pet_challenge_path(@pet)), :html => { :method => :post} do |f| %>	
<table class="comparison-table">
  <tbody>
	<tr>
	<td class="leftbox">
	  <table class="dotbox">
		<tr>
		  <td rowspan="5"><%= avatar_image(@challenge.attacker,'large') %></td>
		  <td>&nbsp;</td>
		  <td><%= @challenge.attacker.breed.name %></td>
		</tr>
		<%= details_bar_row(@challenge.attacker.health,@challenge.defender.health) %>
		<%= details_bar_row(@challenge.attacker.endurance,@challenge.defender.endurance) %>
		<%= details_bar_row(@challenge.attacker.power,@challenge.defender.power) %>
		<%= details_bar_row(@challenge.attacker.fortitude,@challenge.defender.fortitude) %>
		<%= details_bar_row(@challenge.attacker.intelligence,@challenge.defender.intelligence) %>
		<tr>
		  <td rowspan="3">
			<% cell_table(@challenge.attacker.belongings.battle_ready) do |b,idx| %>
			  <td class='battle-gear'>
				<div class='i.item-#{b.item.slug.downcase.gsub(/\s/,'-')}-small left'></div>
				<label><%= b.item.name %></label> <label class="em"><%= b.item.power %></label>
			  </td>
			<% end %>
		  </td>
		  <td><%= percentage_bar [@challenge.attacker.level_rank_count,@challenge.defender.level_rank_count] %></td>
		  <td><%= @challenge.attacker.level_rank_count %></td>
		</tr>
		<tr>
		  <td>
			<% cell_table(@challenge.defender.belongings.battle_ready) do |b,idx| %>
			  <td class='battle-gear'>
				<div class='i.item-#{b.item.slug.downcase.gsub(/\s/,'-')}-small left'></div>
				<label><%= b.item.name %></label> <label class="em"><%= b.item.power %></label>
			  </td>
			<% end %>
		  </td>
		  <td><%= @challenge.attacker.name %> likes to <%= @challenge.attacker.favorite_actions %></td>
		</tr>
		<tr>
		  <td colspan="3">
			<div>Your Pet's Battle Strategy</div>
			<%= facebook_form_errors 'challenge' %>
			<%= render_strategy_picker(f) %>
		  </td>
		</tr>
	  </table>
	</td>	
	<td class="middlebox">
	  <table class="dotbox">
		<tr><td>Breed</td></tr>
		<tr><td>Health</td></tr>
		<tr><td>Endurance</td></tr>
		<tr><td>Power</td></tr>
		<tr><td>Fortitude</td></tr>
		<tr><td>Intelligence</td></tr>
		<tr><td>Level</td></tr>
		<tr><td>Favorite Action</td></tr>
		<tr><td>&nbsp;</td><tr>
		<tr><th>Combat</th></tr>
		<tr><td><%= submit_tag "Challenge"%></td></tr>
	</td>	
	<td class="rightbox">
	  <table class="dotbox">
		<tr>
		  <td><%= @challenge.defender.health %></td>
		  <td>&nbsp;</td>
		  <td rowspan="5"><%= avatar_image(@challenge.defender,'large') %></td>
		</tr>
		<%= details_bar_row(@challenge.defender.health,@challenge.attacker.health, 'right') %>
		<%= details_bar_row(@challenge.defender.endurance,@challenge.attacker.endurance, 'right') %>
		<%= details_bar_row(@challenge.defender.power,@challenge.attacker.power, 'right') %>
		<%= details_bar_row(@challenge.defender.fortitude,@challenge.attacker.fortitude, 'right') %>
		<%= details_bar_row(@challenge.defender.intelligence,@challenge.attacker.intelligence, 'right') %>
		<tr>
		  <td rowspan="3">
			<% cell_table(@challenge.defender.belongings.battle_ready) do |b,idx| %>
			  <td class='battle-gear'>
				<div class='i.item-#{b.item.slug.downcase.gsub(/\s/,'-')}-small left'></div>
				<label><%= b.item.name %></label>
			  </td>
			<% end %>
		  </td>
		  <td><%= percentage_bar [@challenge.defender.level_rank_count,@challenge.attacker.level_rank_count] %></td>
		  <td><%= @challenge.defender.level_rank_count %></td>
		</tr>
		<tr>
		  <td><%= @challenge.defender.name %> likes to <%= @challenge.defender.favorite_actions %></td>
		  <td>&nbsp;</td>
		</tr>
		<tr>
		  <td colspan="3">
			<div>Defender's Strategy</div>
			<p class="em">
			  The defender will choose a strategy after they accept your challenge. Try to anticipate their actions
			  as and then act stronger!
			</p>
			<p><%= @challenge.defender.name %> likes to <%= @challenge.defender.favorite_actions %></p>
		  </td>
		</tr>
	  </table>
	</td> 	
	</tr>
  </tbody>
</table>
<% end %>