<% content_for :page_title do %><h2>Battle Records</h2><% end %>

<div class="sidebox slim right">
  <div class="box slim">	
    <h4>Want to Fight Again?</h4>
    <p><%= facebook_link_to "Challenge them to a rematch...", new_facebook_pet_challenge_path(@opponent) %></p>>
  </div>

  <% unless @history.blank? %>
    <div class="box slim">	
      <h4>A Storied Past</h4>
      <ul class="battle-records"> 
	    <% @history.each do |c| %>
	      <li class="battle"><%= facebook_link_to c.description, facebook_challenge_path(c) %></li>
	    <% end %>
	  </ul> 
    </div>
  <% end %>
</div>

<div class="box">
  <table class="battle-profile">
	<tr>
	  <th>
	    <%= "#{time_ago_in_words(@challenge.battle.created_at)} ago" %> <label><%= @challenge.attacker.name %></label> battled
		<label><%= @challenge.defender.name %></label>
	  </th>
	</tr>
	<tr>
	  <td>	
	  	<%= @challenge.attacker.name %>
		<% if (@challenge.attacker_id == @challenge.battle.winner_id) %>
	  	  <label>WON</label>
		<% elsif (@challenge.defender_id == @challenge.battle.winner_id) %>
		  <label>LOST</label>
		<% else %>
		  <label>drew</label>
		<% end %>
	  </td>
	  <td>
	  	<%= @challenge.defender.name %>
		<% if (@challenge.defender_id == @challenge.battle.winner_id) %>
	  	  <label>WON</label>
		<% elsif (@challenge.attacker_id == @challenge.battle.winner_id) %>
		  <label>LOST</label>
		<% else %>
		  <label>drew</label>
		<% end %>
	  </td>
	</tr>
	<tr>
	  <td><div class="<%="avatar-#{@challenge.attacker.slug}-large" %> left"></div></td>	
	  <td><div class="<%="avatar-#{@challenge.defender.slug}-large" %> right"></div></td>
	</tr>
	<tr><th colspan="2" class="em">Here's what happened</th></tr>
	<tr>
	  <td colspan="2">
		<ul class="logs">
		  <% @challenge.battle.logs[:rounds].each do |log| %>	
		    <li class="log"><%= log %></li>
		  <% end %>
		  <% @challenge.battle.logs[:attacker_awards].each do |log| %>
		    <li class="log award"><%= log %></li>
		  <% end %>
		  <% @challenge.battle.logs[:defender_awards].each do |log| %>
		    <li class="log award"><%= log %></li>
		  <% end %>
		</ul>
	  </td>
    </tr>
  </table>
</div>