<% content_for :page_title do %><h2>Hunting</h2><% end %>

<div class="box full">

<table class="comparison-table">
<tbody>
  <tr>
	<th class="tleft" width="45%"><h3><%= current_user_pet.name %></h3></th>
	<td class="tcenter"><h5>is hunting the</h5></td>
	<th class="tright" width="45%"><h3><%= @sentient.name %></h3></th>
  </tr>
</tbody>
</table>

<% form_for @hunt, :url => facebook_nested_url(facebook_sentient_hunts_path(@sentient)), :html => { :method => :post} do |f| %>	
<%= facebook_form_errors 'hunt' %>
<table class="comparison-table">
  <tbody>
	<tr>
	<td class="tleft" width="45%">
	  <table class="dotbox">
		<tr>
		  <td rowspan="5" class="tright"><%= avatar_image(current_user_pet,'medium') %></td>
		  <td><%= percentage_bar [current_user_pet.current_health,@sentient.health] %></td>
		  <td><%= current_user_pet.current_health %></td>
		</tr>
		<tr>
		  <td><%= percentage_bar [current_user_pet.current_endurance,@sentient.endurance] %></td>
		  <td><%= current_user_pet.current_endurance %></td>
		</tr>
		<tr>
		  <td><%= percentage_bar [current_user_pet.power,@sentient.power] %></td>
		  <td><%= current_user_pet.power %></td>
		</tr>
		<tr>
		  <td><%= percentage_bar [current_user_pet.fortitude,@sentient.fortitude] %></td>
		  <td><%= current_user_pet.fortitude %></td>
		</tr>
		<tr>
		  <td><%= percentage_bar [current_user_pet.intelligence,@sentient.intelligence] %></td>
		  <td><%= current_user_pet.intelligence %></td>
		</tr>
		<tr>
		  <td>&nbsp;</td>
		  <td>-</td>
		</tr>
		<tr>
		  <td colspan="3">
			<div>Your Pet's Hunting Strategy</div>
	        <% f.fields_for :hunters do |h| %>
	          <% h.fields_for :strategy do |s| %>
			    <%= render_strategy_picker(s,'strategy') %>
			  <% end %>
			<% end %>
		  </td>
		</tr>
	  </table>
	</td>	
	<td class="middlebox">
	  <table class="dotbox">
		<tr><td>Health</td></tr>
		<tr><td>Endurance</td></tr>
		<tr><td>Power</td></tr>
		<tr><td>Fortitude</td></tr>
		<tr><td>Intelligence</td></tr>
		<tr><td>&nbsp;</td><tr>
		<tr><th>Combat</th></tr>
		<tr><td><%= submit_tag "Begin the Hunt"%></td>
	  </table>
	</td>	
	<td class="rightbox" width="45%">
	  <table class="dotbox">
		<tr>
		  <td><%= @sentient.health %></td>
		  <td><%= percentage_bar [@sentient.health,current_user_pet.current_health] %></td>
		  <td rowspan="5" class="tleft">
			<%= avatar_image(@sentient,'large') %><br />
			<span class="strong">Population: <%= @sentient.population %></span>
		  </td>
		</tr>
		<tr>
		  <td><%= @sentient.endurance %></td>
		  <td><%= percentage_bar [@sentient.endurance,current_user_pet.current_endurance] %></td>
		</tr>
		<tr>
		  <td><%= @sentient.power %></td>
		  <td><%= percentage_bar [@sentient.power,current_user_pet.power] %></td>
		</tr>
		<tr>
		  <td><%= @sentient.fortitude %></td>
		  <td><%= percentage_bar [@sentient.fortitude,current_user_pet.fortitude] %></td>
		</tr>
		<tr>
		  <td><%= @sentient.intelligence %></td>
		  <td><%= percentage_bar [@sentient.intelligence,current_user_pet.intelligence] %></td>
		</tr>
		  <th colspan="2">Kibble Award for Defeating this Creature: <%= @sentient.kibble %></th>
		</tr>
		<tr>
		  <td colspan="3">
			<div>Sentient's Tactics</div>
			<p class="em">Sentients fight with a limited set of actions. In battle they'll attack and defend at random,
			preferring some maneuvers more often than others. </p>
			<p class="em"><%= @sentient.name.pluralize %> like to:</p>
			<ul class="tactics">
			  <% @sentient.strategy.maneuvers.each do |maneuver| %>
			    <li class="tactic">
				  <span class="<%="action-#{maneuver.action.action_type}-small" %>"></span>
				  <label><%= maneuver.action.action_type.upcase %></label>
				  <label><%= maneuver.action.name %></label>
				  <label class="strong"><%= maneuver.action.power %></label>				
				</li>
			  <% end %>
			</ul>	
		  </td>
		</tr>
	  </table>
	</td> 	
	</tr>
  </tbody>
</table>
<% end %>