<% content_for :page_title do %><h2>Outbox</h2><% end %>
	
<div class="sidebox slim right">	 
  <div class="box slim">	
  </div>
</div>

<div class="box">	
  <% if @messages.size %>	
    <table class="messages">
	  <tbody>
		<% @messages.each do |message| %>
		  <tr>
			<td><div class='sent-message'></div></td>
			<td><%= facebook_link_to message.recipient.name, facebook_pet_path(message.recipient) %></td>
			<td><%= facebook_link_to message.subject, facebook_message_url(message) %></td>
  			<td><%= "#{time_ago_in_words(message.created_at)} ago" %></td>
		  </tr>
		<% end %>
	  </tbody>
    </table>
    <%= will_paginate @messages %>
  <% else %>
    <p class="em empty">No pet is an island. <%= facebook_link_to "Find some pets to message", facebook_pets_path %></p>
  <% end %>
</div>

