<% content_for :page_title do %><h2>Pet Profile</h2><% end %>

<div class="sidebox slim right">
  <% unless @pet.biography.blank? %>	
    <div class="box slim biography">
      <h4>Kennel</h4>
	  <p><strong>Description:<strong><%= @pet.biography.description %></p>
	  <div><label>Temperament:</label><strong><%= @pet.biography.temperament %></strong></div>
	  <div><label>Lifestyle:</label><strong><%= @pet.biography.lifestyle %></strong></div>
	  <div><label>Circadian:</label><strong><%= @pet.biography.circadian %></strong></div>
	  <div><label>Gender:</label><strong><%= @pet.biography.gender %></strong></div>
	  <div><label>Favorite Color:</label><strong><%= @pet.biography.favorite_color %></strong></div>
	  <div><label>Favorite Food:</label><strong><%= @pet.biography.favorite_food %></strong></div>
	  <div><label>Favorite Pastime:</label><strong><%= @pet.biography.favorite_pastime %></strong></div>
	  <div><label>Favorite Season:</label><strong><%= @pet.biography.favorite_season %></strong></div>
	  <div><label>Favorite Composer:</label><strong><%= @pet.biography.favorite_composer %></strong></div>
	  <div><label>Favorite Philosopher:</label><strong><%= @pet.biography.favorite_philosopher %></strong></div>
	  <div><label>Pedigree:</label><strong><%= @pet.biography.pedigree %></strong></div>
	  <div><label>Voice:</label><strong><%= @pet.biography.voice %></strong></div>
	  <div><label>Zodiac:</label><strong><%= @pet.biography.zodiac %></strong></div>
	  <div><label>Siblings:</label><strong><%= @pet.biography.siblings %></strong></div>
	  <div><label>Birthday:</label><strong><%= @pet.biography.birthday.strftime("%B %d") %></strong></div>
    </div>
  <% end %>
</div>

<div class="box">
  <h4 class="right"><%="Level #{@pet.level_rank_count} #{@pet.breed_name}"%></h4>
  <h3><%= @pet.name %></h3>

  <table class='pet'>
	<tbody>
	<tr>
	  <td rowspan="6">
		<div id="breed-details-image" class="<%="avatar-#{@pet.breed.slug}-mid" if @pet.breed %>"></div>
	  </td>
	  <td>Health:</td><td><%=@pet.health%></td>
	  <td rowspan="6">
		<table>
		  <tr><td>Leaderboard Rank:</td><td></td></tr>
		  <tr><td>Total Battles:</td><td></td></tr>
		  <tr><td>Wins:</td><td></td></tr>
		  <tr><td>Loses:</td><td></td></tr>
		  <tr><td>Draws:</td><td></td></tr>
		  <tr><td>Favorite Actions:</td><td></td></tr>
		</table>
	  </td>	
	</tr>
	<tr><td>Endurance:</td><td><%= @pet.endurance %></td></tr>
	<tr><td>Fortitude:</td><td><%= @pet.fortitude %></td></tr>
	<tr><td>Power:</td><td><%= @pet.power %></td></tr>
	<tr><td>Intelligence:</td><td><%= @pet.intelligence %></td></tr>
	<tr><td>Affection:</td><td><%= @pet.affection %></td></tr>
    </tbody>
  </table>

  <div class="occupation">Occupied With <strong><%= @pet.occupation.name %></strong></div>
  <% show_for_pet(@pet) do %>
  <div>
    <div class="signs">
	  <% Sign.signs_with(current_user_pet, @pet).each do |sign|%>
	    <% form_for Sign.new, :url => facebook_nested_url(facebook_pet_signs_path(@pet)) do |f| %>	
	    <%= f.hidden_field :sign_type, {:value => sign} %> %>
		<span class="sign-button left"><%= f.submit sign.upcase %></span>
		<% end %>
	  <% end %>
    </div>
    <span class="sign-button message right"><%= facebook_link_to 'Message', new_facebook_message_path %></span>
    <span class="sign-button right"><%= facebook_link_to "Challenge to Battle", new_facebook_pet_challenge_path(@pet) %></span>
  </div>
  <% end %>
</div>

<% unless @pet.belongings.battle_ready.blank? %>
<div class="box gear">
  <h4>Battle Gear</h4>

  <% cell_table(@pet.belongings.battle_ready,4) do |b,idx| %>
    <td class='battle-gear'>
	  <div class='i.item-#{b.item.slug.downcase.gsub(/\s/,'-')}-small left'></div>
	  <label class="strong"><%= b.item.name %></label> 
	  <br />
	  <label class="em">Power: <%= b.item.power %></label>
    </td>
  <% end %>
</div>
<% end %>

<% unless @pet.pack_id.blank? %>
  <div class="box pack">
    <h4>Pack: <%= facebook_link_to @pet.pack.name, facebook_pack_path(@pet.pack) %></h4>
	<h5><%= @pet.pack.position_for(@pet)%></h5>
    <table>
	  <tr>
		<td>Founded:</td>
		<td><%= "#{time_ago_in_words(@pet.pack.created_at)} ago" %></td>
		<td>
		  <% cell_table(@pet.pack.pack_members, 4) do |m,idx| %>
		    <td>
		      <div class="<%="avatar-#{m.pet.slug}-small" %>"></div>
		      <strong class="right"><%= facebook_link_to m.pet.name, facebook_pet_path(m.pet) %></strong>
		      <span class="em right"><%= "level #{m.pet.level_rank_count}" %></span>
		    </td>
		  <% end %>
		</td>
	  </tr>
	  <tr>
		<td>Standard:</td>
		<td><%=@pet.pack.standard.name %>
	  </tr>
	  <tr>
		<td>Member Bonus:</td>
		<td><%=@pet.pack.membership_bonus %>
	  </tr>
	</table>
  </div>
<% end %>

<% unless @pet.tames.blank? %>
  <div class="box humans">
    <h4>Kennel</h4>
  </div>
<% end %>