<div id="header">
  <h1><a>Battle Pet</a></h1>

  <% if has_pet? %>	
    <%= avatar_image(current_user_pet,'large') %>
    <div id="header-profile">
      <h5><%= "Level #{current_user_pet.level_rank_count} #{current_user_pet.breed.name}" %></h5>
      <h2><%= current_user_pet.name %></h2>
	  <p>
		<div id="header-stats">
		  <span>Health:</span>
		  <label><%= "#{current_user_pet.current_health}/#{current_user_pet.total_health}" %></label>
		  <span class="graph"></span>
		  <br />
		  <span>Endurance:</span>
		  <label><%= "#{current_user_pet.current_endurance}/#{current_user_pet.total_endurance}" %></label>
		</div>
      </p>
      <ul>
		<li><%= facebook_link_to 'Profile', profile_facebook_pet_path %></li>
		<li><%= facebook_link_to 'Combat', combat_facebook_pet_path %></li>
		<li><%= facebook_link_to 'Items', facebook_belongings_path %></li>
	  </ul>
	  <br />
      <h4><%= "Kibble: #{current_user_pet.kibble}" %> <%= facebook_link_to 'Buy Kibble', premium_facebook_items_path %></h4>
    </div>
  <% end %>
</div>