<% content_for :page_title do %><h2>Market Store</h2><% end %>

<div class="sidebox slim right">
  <%= render_kibble_box %>

  <div class="box slim">	
    <h4>Specialist Pet Shops</h4>
    <% if @shops.blank? %>
      <p class="empty em">Hmm. None of the <% facebook_link_to 'other pet shops', facebook_shops_path %> are specializing in 
	  these items.</p>
    <% else %>
      <table id="shops">
	    <% @shops.each do |shop| %>
	      <tr><td><%= facebook_link_to shop.name, facebook_shop_path(shop) %></td><td>(<%= shop.inventories_count %>)</td></tr>
	    <% end %>
	  </table>
	<% end %>
  </div>
</div>

<div class="box">
  <h3 id="<%= params[:id].downcase %>-store-title"><%= params[:id] %> Store</h3>
	
  <% cell_table(@items,4) do |i,idx| %>
    <td>
	  <table class="item">
		<tr><th colspan="2"><%= i.name %></th></tr>
		<tr>
		  <td rowspan="5"><%= avatar_image(i,'medium') %></td>
		  <td>
			<% if has_pet? %>
			  <% if current_user_pet.kibble >= i.cost && i.stock > 0 %>
			    <span class='shopping-button'>
				  <%= facebook_link_to("Buy for #{i.cost}K",purchase_facebook_item_path(i.id), :method => :post) %>
				</span>
			  <% elsif i.stock == 0 %>
			    <label>Cost: <%= i.cost %>K <span class="em empty">Out of Stock</span></label>
			  <% elsif current_user_pet.kibble < i.cost %>
			    <label>Cost: <%= i.cost %>K <span class="em empty">Too Expensive</span></label>
			  <% end %>
			<% end %>
		  </td>	
		</tr>
		<tr><td><label>Stock: <%= i.stock %></label></td></tr>
		<tr><td><label>Type: <%= i.item_type %></label></td></tr>
		<tr><td><label>Power: <%= i.power %></label></td></tr>
		<tr><td><label>Required Rank: <%= i.required_rank %></label></td></tr>
		<tr><td class="em" colspan="2"><%= i.description %></td></tr>
	  </table>	
	</td>
  <% end %>
  <p class="center"><%= will_paginate @items %></p>
</div>