<% content_for :page_title do %>
  <h2>
	<%= facebook_link_to 'Forums', facebook_forums_path %> : 
	<%= facebook_link_to @forum.name, facebook_forum_path(@forum) %> : 
	<%= @topic.title %>
  </h2>
<% end %>

<div class="box full">
  <table class="topic">
  <% @posts.each do |p| %>	
    <tr class="post">
	  <td>
		<p class="strong"><%= p.user.username %></p>
		<p>
		  <% if p.user.pet %>	
		    <div class="left"><%= avatar_image(p.user.pet,'small') %></div>
		    <div><%= facebook_link_to p.user.pet.name, facebook_pet_path(p.user.pet) %></div>
		    <div><%= "Level #{p.user.pet.level_rank_count} #{p.user.pet.breed.name}" %></div>
		    <div><%= p.user.pet.battle_record %></div>
		  <% end %>
		</p>
	  </td>
	  <td>
		<p><%= p.body %></p>
		<hr />
		<p class="em"><%= "#{time_ago_in_words(p.created_at)} ago on #{(Time.now).strftime("%Y-%m-%d %H:%M")}" %></p>
	  </td>
    </tr>
  <% end %>
  </table>
  <p class="center"><%= will_paginate @posts %></p>
</div>

<div class="box full">
</div>