<% content_for :page_title do %><h2><%=AppConfig.name%> Staff</h2><% end %>

<div class="box full">
  <table width="100%" cellpadding="3">
	<tr>
	  <td width="50" rowspan="3"><%= fb_profile_pic '608302347' %></td>
	  <td><h3><%= fb_name '608302347' %></h3></td>
	</tr>
	<tr><td><h5>Lead Designer/Developer</h5></td></tr>
	<tr><td><span class="em">Email: <%= mail_to "travis@battlepet.net" %></span></td></tr>
  </table>
</div>

<div class="box full">
  <table width="100%" cellpadding="3">
	<tr>
	  <td width="50" rowspan="3"><%= fb_profile_pic '776869453' %></td>
	  <td><h3><%= fb_name '776869453' %></h3></td>
	</tr>
	<tr><td><h5>Artist</h5></td></tr>
	<tr><td><span class="em">Email: <%= mail_to "renita@battlepet.net" %></span></td></tr>
  </table>
</div>

<div class="box full">
  <table width="100%" cellpadding="3">
	<tr>
	  <td width="50" rowspan="3"><%= fb_profile_pic '840585612' %></td>
	  <td><h3><%= fb_name '840585612' %></h3></td>
	</tr>
	<tr><td><h5>Artist</h5></td></tr>
	<tr><td><span class="em">Email: <%= mail_to "candy@battlepet.net" %></span></td></tr>
  </table>
</div>

<div class="box full">
  <table width="100%" cellpadding="3">
	<tr>
	  <td width="50" rowspan="3"><%= fb_profile_pic '1181842790' %></td>
	  <td><h3><%= fb_name '1181842790' %></h3></td>
	</tr>
	<tr><td><h5>QA Lead</h5></td></tr>
	<tr><td><span class="em">Email: <%= mail_to "patrick@battlepet.net" %></span></td></tr>
  </table>
</div>

<div class="box full">
  <table width="100%" cellpadding="3">
	<tr>
	  <td width="50" rowspan="3"><%= fb_profile_pic '512970013' %></td>
	  <td><h3><%= fb_name '512970013' %></h3></td>
	</tr>
	<tr><td><h5>Artist</h5></td></tr>
	<tr><td><span class="em">Email: <%= mail_to "becca@battlepet.net" %></span></td></tr>
  </table>
</div>