<% content_for :page_title do %><h2><%=AppConfig.name%> Staff</h2><% end %>

<div class="box full">
  <h3>Travis Dunn</h3>
  <div class="left">[img]</div>
  <div class="left">
	<h5>Lead Designer/Developer</h5>
	<span class="em">Email: <%= mail_to "travis@battlepet.net" %></span>
	<br />
	<p>bio</p>
  </div>
</div>

<div class="box full">
  <h3>Renita Orellana</h3>
  <div class="left">[img]</div>
  <div class="left">
	<h5>Artist</h5>
	<span class="em">Email: <%= mail_to "renita@battlepet.net" %></span>
	<br />
	<p>bio</p>
  </div>
</div>

<div class="box full">
  <h3>Becca Bennett</h3>
  <div class="left">[img]</div>
  <div class="left">
	<h5>Artist</h5>
	<span class="em">Email: <%= mail_to "becca@battlepet.net" %></span>
	<br />
	<p>bio</p>
  </div>
</div>

<div class="box full">
  <h3>Candy Anderson</h3>
  <div class="left">[img]</div>
  <div class="left">
	<h5>Artist</h5>
	<span class="em">Email: <%= mail_to "candy@battlepet.net" %></span>
	<br />
	<p>bio</p>
  </div>
</div>

<div class="box full">
  <h3>Patrick Walker</h3>
  <div class="left">[img]</div>
  <div class="left">
	<h5>QA Lead</h5>
	<span class="em">Email: <%= mail_to "patrick@battlepet.net" %></span>
	<br />
	<p>bio</p>
  </div>
</div>