<fb:fbml version="1.1">
  <%= facebook_stylesheet_link_tag "facebook" %>
  <%= facebook_javascript_tag "facebooker" %>

  <div id="contents">
	<p id="beta">
	  <strong>DEVELOPMENT WARNING:</strong> The Battle Pet Network is currently under furious development and, in the mad 
	  rush to version 1.0, the Facebook UI will undergo frequent changes, user data may be reset, and the game's stability 
	  will be at an all-time low. Enjoy!
	</p>
	
	<div id="header">
	  <div id="hooks right">
		<%= fb_bookmark_button %>
	  	<%= fb_fan_button %>
	  </div>	
	  <div id="tabs">
		<%= render_tabs %>
	  </div>
	</div>
	
	<div id="body">
	  <%= yield :page_title %>	
	  <%= render_petless_callout if has_facebook_user? && !has_pet? %>
      <%= yield %>
    </div>

    <div id="footer">
	  <div id="announcements">
	  </div>
      <div id="links">
		<ul>
		  <li><%=facebook_link_to "invite friends", ''%></li>
		  <li><%=facebook_link_to "developers", ''%></li>
		  <li><%=facebook_link_to "iphone", ''%></li>
		  <li><%=facebook_link_to "contract", ''%></li>
		  <li><%=facebook_link_to "staff", ''%></li>
		  <li><%=facebook_link_to "terms of service", ''%></li>
		  <li><%=facebook_link_to "privacy", ''%></li>
		</ul>
	  </div>
    </div>
  </div>
</fb:fbml>
